body{
    margin: 0px;
}

/* Header Styles */

.header-wrapper {
    display: flex;
    background-color: pink;
}

.header-wrapper > .greeting {
    background-color: #aaaaee;
    height: 500px;
    width: 60%;
}

.header-wrapper > aside {
    background-color: #eebbcc;
    width: 40%;
}

/* Content Styles */

.content-wrapper {
    background-color: aquamarine;
    height: 1500px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.content-wrapper > .img-gall-wrapper {
    background-color: white;
}
.content-wrapper > .img-gall-wrapper > .img-header {
    background-color: #aaaaee;
    height: 100px;
    width: 85%;
}

.content-wrapper > .img-gall-wrapper > .img-gall {
    background-color:#eebbcc;
    height: 500px;
    width: 100%;
}